html {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  min-height: 100%;
  min-height: 100dvh;
  background: #121212;
}


.mat-mdc-button,
.mat-mdc-unelevated-button,
.mat-mdc-raised-button,
.mat-mdc-outlined-button {
  --mdc-text-button-container-shape: 4px;
  --mdc-filled-button-container-shape: 4px;
  --mdc-outlined-button-container-shape: 4px;

  border-radius: 2px !important;
}

pre {
  font-family: "IBM Plex Sans", sans-serif;
}

/* When multiple CDK dialogs are stacked, only show the top-most one */
/* .cdk-overlay-pane {
  display: none;
} */

.cdk-overlay-pane:last-of-type {
  display: flex;
}

/* .cdk-overlay-backdrop {
  display: none;
} */

.cdk-overlay-backdrop:last-of-type {
  display: block;
}