@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      theme-type: dark,
    ),
    typography: (
      plain-family: IBM Plex Sans,
      brand-family: IBM Plex Sans,
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
    ),
    density: -1,
  ));
}